body,h1 {
  margin: 0px;
}

h1{
  margin:50px auto 0 auto;
  font-family: 'Train One', cursive;
  font-size: 4.6875rem; /*1rem=16px, 75px/16px is 4.6875*/
}
h2 {
  color: #66BFBF; 
}
h3 {
  color: #11999E;
}
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.top-container {
  background-color: #7c9473;
  padding: 25px;
  position:relative;
  padding-top: 100px;
}

.middle-container {
  margin:0;
  background-color: #cfdac8;
  padding-bottom: 15px;
}

.bottom-container {
  margin-bottom:0;
  padding-top: 40px;
  background-color: #66BFBF;
}

.better {
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.upper-cloud{
  position: absolute;
  right:300px;
  top:50px;
}

.profile-pic {
  width:15.625rem;
  margin-top:1.875rem;
  border-radius: 85%;
}

.skills-pic{
  width:250px;
  margin-right:30px;
  border-radius: 85%;
  float: left;
}

.chilli {
  width:250px;
  border-radius: 85%;
  margin-left: 30px;
  float: right;
}

.btn, .footer-link {
  text-decoration: none;
}

.footer-link {
  font-size: 1.5rem;
}

.headerInfo {
  font-size: 1.5rem;
  font-weight:normal;
  line-height: 2;
}

.skill-row {
  margin: 6.25rem auto 6.25rem auto;
  width:50%;
  text-align: left;
  padding-bottom: 100px;
  line-height: 2;
}

hr {
  border-style: dotted none none; /*dotted hr, no border at left/right and bottom */
  background-color: #cfdac8;
  width:10%; /* 10% width of total screen size*/
  border-color: rgb(202, 202, 202);
  border-width: 15px; /* size of dots */
  margin: 5rem auto;
}

.contact-me {
  margin-top: 30px;
}

.copyright{
  margin:0;
  padding: 30px 0 30px 0;
  color: #EAF6F6;
}

a {
  margin-left: 50px;
  font-weight: 900;
  color: #11999E;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 15px;
  font-weight: 100;
  padding: 15px;
  background-color: #3DF6D3;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 25px auto;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}


.contactMeForm {
  margin: 40px auto;
}

.introduction {
  width: 25%;
  margin: auto;
}